.background {
    -fx-background-color: #76fac7;
    -fx-background-radius: 10;
}

.taskbar {
    -fx-background-color: #34C191;
    -fx-background-radius: 10 10 0 0;
}

.login-button {
    -fx-background-color: #34c191;
}

.close-button {
    -fx-background-radius: 0 10 0 0;
    -fx-background-color: #34c191;
    -fx-cursor: hand;
}

.close-button:hover {
    -fx-background-color: red;
    -fx-cursor: hand;
}

.minimize-button {
    -fx-background-color: #34c191;
}

.minimize-button:hover {
    -fx-background-color: #b9b9b9;
    -fx-cursor: hand;
}

.resize-button {
    -fx-background-color: #34c191;
}

.resize-button:hover {
    -fx-background-color: #b9b9b9;
    -fx-cursor: hand;
}