.background {
    -fx-background-color: rgb(240,186,64);
    -fx-background-radius: 10;
}

@font-face {
    -fx-font-family: 'Anta';
    src: url('fonts/Anta-Regular.ttf');
}

.title-bar {
    -fx-background-color: #4B4B4B;
    -fx-background-radius: 10 10 0 0;
}

.error-message {
    -fx-text-fill: #c92c2c;
}

.side-menu-bar {
    -fx-background-color: #4B4B4B;
    -fx-background-radius: 0 0 0 10;
}

.side-menu-button {
    -fx-background-radius: 0;
    -fx-background-color: #4B4B4B;
}

.window-title {
    -fx-font-family: 'Anta';
    -fx-font-size: 20;
}

.label {
    -fx-font-family: 'Anta';
}

.button {
    -fx-font-family: 'Anta';
    -fx-background-color: #4B4B4B;
    -fx-text-fill: white;
}

.button:hover {
    -fx-background-color: rgb(240,186,64);
    -fx-cursor: hand;
}

.input-window {
    -fx-background-color: #D9D9D9;
    -fx-background-radius: 0 0 10 0;
    -fx-border-color: rgb(18,152,215);
    -fx-border-width: 3 0 0 3;
}

.login-button {
    -fx-background-color: #4B4B4B;
}

.login-button:hover {
    -fx-background-color: #D9D9D9;
}

.close-button {
    -fx-background-radius: 0 10 0 0;
    -fx-background-color: #4B4B4B;
}

.close-button:hover {
    -fx-background-color: red;
}

.minimize-button {
    -fx-background-color: #4B4B4B;
}

.minimize-button:hover {
    -fx-background-color: #b9b9b9;
}

.calendar-box {
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-border-width: 2;
}

.logout-button{
    -fx-background-radius: 0 0 0 10;
    -fx-background-color: #4B4B4B;
}

